@use "./utils" as *;

.bar {
	width: 100%;
	position: relative;
	display: grid;
	align-items: center;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 0.5rem;
		border-radius: 50px 0 0 50px;
		width: calc(100% * var(--width) - 2.5rem * var(--width));
		background-color: $soft-cyan;
	}

	&__input {
		-webkit-appearance: none;
		appearance: none;
		border-radius: 50px;
		height: 0.5rem;
		width: inherit;
		background-color: $light-grayish-blue;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			background-color: $strong-cyan;
			cursor: pointer;
			&:hover {
				background-color: $soft-cyan;
			}
		}

		&::-moz-range-thumb {
			border: none;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			background: center / 1.5rem no-repeat url(../images/icon-slider.svg);
			background-color: $strong-cyan;
			cursor: pointer;
			position: relative;
			box-shadow: 0 1rem 1rem 0 $soft-cyan;
			&:hover {
				background-color: $soft-cyan;
			}
			&:active {
				background-color: $strong-cyan;
			}
		}
	}
}
