@use "./_utils.scss" as *;

.card {
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 10px 10px 0 #00000010;

	&__section {
		padding: 2rem;
		border-bottom: 1px solid #00000010;
	}
}

.selection {
	display: grid;
	grid-template-areas:
		"views"
		"bar"
		"price"
		"billing";
	justify-items: center;
	gap: 2.5rem;

	&__views {
		font-size: $fs-m;
		font-weight: $fw-8;
		color: $fc-grayish-blue;
		letter-spacing: 0.2ch;
	}
}
