@use "./utils" as *;

.container {
	margin: auto;
	width: 100%;
	max-width: 45rem;
}

.title {
	text-align: center;
	margin-bottom: 5rem;
	position: relative;

	@media screen and (min-width: 480px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 1ch;
	}

	&__main {
		font-size: $fs-l;
		font-weight: $fw-8;
		color: $fc-dark-desaturated-blue;
		margin-bottom: 1ch;
		flex-basis: 100%;
	}

	&__sub {
		font-size: $fs-m;
		color: $fc-grayish-blue;
		line-height: 3ch;
		position: relative;
	}

	&::before {
		position: absolute;
		content: "";
		height: 10rem;
		aspect-ratio: 1;
		background: center/cover no-repeat url(../images/pattern-circles.svg);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		mix-blend-mode: darken;
	}
}
